# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

retrieved-files

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.*
!.env.example

# Testing
coverage
test-data
experiments-data

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
tmp
*.tgz
*.log
.erp-start.log
*.tsbuildinfo


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# VSCode
.vscode-test
*storybook.log
storybook-static

.stagewise
